@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: #202020;
	font-family: Arial, Helvetica, Verdana, sans-serif;
}